@import uk.gov.hmrc.play.binders.ContinueUrl
@(businessRegistrationForm: Form[models.BusinessRegistration],
  service: String,
  displayDetails: models.BusinessRegistrationDisplayDetails,
  redirectUrl: Option[uk.gov.hmrc.play.binders.ContinueUrl],
  isRegisterClient: Boolean,
  backLink: Option[String],
  isAgent: Boolean)(implicit request: Request[_], messages: Messages)
@import uk.gov.hmrc.play.views.html._
@import uk.gov.hmrc.play.views.html.helpers._
@import views.html.helpers._
@import config.ApplicationConfig

@implicitFormInstance = @{ Some(businessRegistrationForm) }

@pageScripts = {
<script src='@controllers.routes.AssetsController.at("javascript/business-customer-country-auto-complete.js")'></script>
<script>
    $(document).ready(function() {
      countryCodeAutoComplete("#businessAddress\\.country")
      var classOfSelect1 = $('#businessAddress\\.country_').attr('class');
      $("#businessAddress\\.country").addClass(classOfSelect1)
      var labelText1 = $("#businessAddress\\.country_field").text();
      var divId1 = "businessAddress\\.country_div"
      var fieldId1 = "businessAddress.country_"
      createLabelForHiddenSelect(divId1, fieldId1, labelText1);
    });
  </script>
}

@bcMain(title = displayDetails.businessRegHeader, service = service, pageScripts = Some(pageScripts)) {
  @pageHeadersAndError(backLink, "business-verification-text", displayDetails.businessRegSubHeader, "business-reg-header", displayDetails.businessRegHeader,
    Some(bcErrorSummary(businessRegistrationForm, "bc.non-uk-reg-error.general")))

  @displayDetails.businessRegLede.map { businessRegLede =>
    <p class="paragraph" id="business-reg-lede">@Html(businessRegLede)</p>
  }

  @form(action = controllers.nonUKReg.routes.UpdateNonUKBusinessRegistrationController.update(service, redirectUrl, isRegisterClient)) {


  <div id="non-uk-reg-form">

    @bcInput(businessRegistrationForm("businessName"),
    '_label ->  Html(Messages("bc.non-uk-reg.businessName")),
    '_labelClass -> "form-label-bold",
    '_id -> "businessName",
    '_showConstraints -> false)

    @bcInput(businessRegistrationForm("businessAddress.line_1"),
    '_label ->  Html(Messages("bc.non-uk-reg.line_1")),
    '_labelClass -> "form-label-bold",
    '_id -> "businessAddress.line_1",
    '_showConstraints -> false)

    @bcInput(businessRegistrationForm("businessAddress.line_2"),
    '_label ->  Html(Messages("bc.non-uk-reg.line_2")),
    '_labelClass -> "form-label-bold",
    '_id -> "businessAddress.line_2",
    '_showConstraints -> false)

    @bcInput(businessRegistrationForm("businessAddress.line_3"),
    '_label ->  Html(Messages("bc.non-uk-reg.line_3")),
    '_labelClass -> "form-label-bold",
    '_id -> "businessAddress.line_3",
    '_showConstraints -> false)

    @bcInput(businessRegistrationForm("businessAddress.line_4"),
    '_label ->  Html(Messages("bc.non-uk-reg.line_4")),
    '_labelClass -> "form-label-bold",
    '_id -> "businessAddress.line_4",
    '_showConstraints -> false)

    @if(!isAgent) {
      @bcInput(businessRegistrationForm("businessAddress.postcode"),
      '_label ->  Html(Messages("bc.non-uk-reg.postcode")),
      '_labelClass -> "form-label-bold",
      '_id -> "businessAddress.postcode",
      '_inputClass -> "input--small",
      '_maxLength -> 10,
      '_showConstraints -> false)
    }

    @bcDropdown(businessRegistrationForm("businessAddress.country"),
    elementOptions = displayDetails.listOfIsoCode,
    displayEmptyValue = true,
    '_id -> "businessAddress.country",
    '_emptyValueText -> Messages("bc.non-uk-reg.country.select"),
    '_labelClass -> "form-label-bold",
    '_label -> Html(Messages("bc.non-uk-reg.country")))


  </div>

  <button class="button" id="submit" type="submit">@Messages("bc.continue")</button>

}

}
