@import config._
@import views.html.helpers._
@import uk.gov.hmrc.govukfrontend.views.Implicits.RichInput
@import views.html.helper.form
@import views.ViewUtils.titleBuilder
@this(
  bcMain:            bcMain,
  formHelper:        FormWithCSRF,
  govukInput:        GovukInput,
  govukBackLink:     GovukBackLink,
  govukErrorSummary: GovukErrorSummary,
  govukButton:       GovukButton
)
@(form: Form[app.forms.BusinessVerificationForms.SopUtrData],
  isAgent:     Boolean,
  service:     String,
  businessType: String,
  backLink:    Option[String]
)(implicit request: Request[_], messages: Messages, appConfig: ApplicationConfig)
@headingText = @{
  if (isAgent) messages("bc.business-verification-selected-agent-header")
  else          messages("bc.business-verification-selected-user-header")
}
@headingSecondaryText = @{
  if (isAgent) messages("bc.business-verification.agent.text", service.toUpperCase)
  else          messages("bc.business-verification.client.text", service.toUpperCase)
}
@backLinkHtml = {
  @backLink.map { href =>
    @govukBackLink(BackLink(href = href, content = Text("Back")))
  }
}
@bcMain(
  title    = titleBuilder(headingText, Some(form)),
  service  = service,
  backlink = Some(backLinkHtml)
) {
  @if(form.errors.nonEmpty) {
    @govukErrorSummary(ErrorSummary().withFormErrorsAsText(form))
  }
  <header>
    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl hmrc-caption-xl">
        <span class="govuk-visually-hidden">@messages("bc.screen-reader.section")</span>
        @headingSecondaryText
      </span>
      @headingText
    </h1>
  </header>
  @if(isAgent){
    @bcCheckAgency()
  }
  <p class="govuk-body">@messages("bc.business-verification-utr-lede")</p>
  @formHelper(action = routes.BusinessVerificationController.submitSopUtr(service)) {
    @govukInput(
      Input(
        name         = "saUTR",
        label        = Label(Text(messages("bc.business-verification.label.sautr")), classes = "govuk-label--s"),
        hint         = None,
        autocomplete = Some("off")
      ).withFormField(form("saUTR"))
    )
    @govukButton(
      Button(
        content    = Text(messages("bc.business-registration.continue")),
        inputType  = Some("submit"),
        attributes = Map("id" -> "continue")
      )
    )
  }
}