@(limitedCompanyForm: Form[forms.LimitedCompanyMatch],
 isAgent: Boolean,
 service: String,
 businessType: String,
 backLink: Option[String])(implicit request: Request[_], messages: Messages)

@import uk.gov.hmrc.play.views.html._
@import uk.gov.hmrc.play.views.html.helpers._
@import views.html.helpers._

@implicitFormInstance = @{ Some(limitedCompanyForm) }

@headingId = @{
    isAgent match {
        case true => "business-type-agent-header"
        case false => "business-type-header"
    }
}

@headingText = @{
    isAgent match {
        case true => Messages("bc.business-verification-selected-agent-header")
        case false => Messages("bc.business-verification-selected-user-header")
    }
}

@headingSecondaryId = @{
    isAgent match {
        case true => "business-verification-agent-text"
        case false => "business-verification-text"
    }
}

@headingSecondaryText = @{
    isAgent match {
        case true => Messages("bc.business-verification.agent.text", service.toUpperCase)
        case false => Messages("bc.business-verification.client.text", service.toUpperCase)
    }
}

@helpQuestionAnswer = @{
    isAgent match {
        case true => Html(Messages("bc.business-verification.utr.help.answer.agent"))
        case false => Html(Messages("bc.business-verification.utr.help.answer"))
    }
}

@bcMain(title = headingText, service = service) {

    @pageHeadersAndError(
        backLink,
        headingSecondaryId,
        headingSecondaryText,
        headingId,
        headingText,
        Some(bcErrorSummary(limitedCompanyForm, "bc.business-verification-error.general.ltd"))
    )

    @if(isAgent){
        @bcCheckAgency()
    }

    <p id="business-type-paragraph">@Messages("bc.business-verification-lede")</p>

    @form(action = controllers.routes.BusinessVerificationController.submit(service,businessType)) {

        <legend class="visuallyhidden">@headingText</legend>

        @bcInput(limitedCompanyForm("businessName"),
            '_label -> Html(Messages("bc.business-verification.businessNamefield")),
            '_labelClass -> "form-label-bold",
            '_hintText -> Messages("bc.business-verification.registered-name.hint"),
            '_id -> "businessName",
            '_showConstraints -> false
        )

        @bcInput(limitedCompanyForm("cotaxUTR"),
            '_label -> Html(Messages("bc.business-verification.coUTRField")),
            '_labelClass -> "form-label-bold",
            '_hintText -> Messages("bc.business-verification.utr.hint"),
            '_id -> "cotaxUTR",
            '_type -> "text",
            '_fieldsetAttributesHelpQuestion -> "utr-help-question",
            '_fieldsetQuestion -> Messages("bc.business-verification.utr.help.question"),
            '_HelpQuestionAnswer -> helpQuestionAnswer,
            '_showConstraints -> false
        )

        <button id="submit" type="submit">@Messages("bc.business-registration.submit")</button>
    }
}
