@(applicationConfig: config.ApplicationConfig = config.ApplicationConfig,
    supportLinkEnabled: Boolean = false,
    title: String,
    sidebarLinks: Option[Html] = None,
    sidebarClass: Option[String] = None,
    service: String = "",
    contentHeader: Option[Html] = None,
    userLoggedIn: Boolean = false,
    scriptElement: Option[Html] = None,
    linkElement : Option[Html] = None
    )(mainContent: Html = HtmlFormat.empty)(implicit request : Request[_], messages: Messages)

@import layouts.{govuk_template => hmrcGovUkTemplate}
@import uk.gov.hmrc.play.views.html.{layouts => uiLayouts}
@import uk.gov.hmrc.play.views.html.{helpers => uiHelpers}
@import utils.BCUtils

@head = {
  @uiLayouts.head(
  linkElem = linkElement,
  headScripts = None)

  <meta name="format-detection" content="telephone=no" />

  @views.html.helpers.ga(applicationConfig.analyticsToken.getOrElse("UA-123456"))
}

@headerNavLinks = {
  @if(userLoggedIn) {
    <li><a id="logOutNavHref" href='@routes.ApplicationController.logout(service)'>@Messages("bc.sign-out")</a></li>
  }
}

@article = {
  @uiLayouts.article(content = mainContent, includeGridWrapper = false, articleClasses = None)
}

@sidebar = {
    @uiLayouts.sidebar(sidebarLinks = sidebarLinks.fold(HtmlFormat.empty)(x=>x), sidebarClass = sidebarClass)
}

@insideHeader = {
  @uiLayouts.header_nav(
  navTitle = BCUtils.getNavTitle(service),
  navTitleLink = None,
  showBetaLink = false,
  navLinks = Some(headerNavLinks))
}

@afterHeader = {}

@bodyEnd = {
  @uiLayouts.footer(
  analyticsToken = applicationConfig.analyticsToken,
  analyticsHost = applicationConfig.analyticsHost,
  ssoUrl = None,
  scriptElem = scriptElement,
  gaCalls = None)
}

@footerTop = {}
@footerLinks = {}

@betaBanner = {
  @uiLayouts.betaBanner(
  userLoggedIn = userLoggedIn,
  betaFeedbackUrl = applicationConfig.betaFeedbackUrl(service, request.uri),
  betaFeedbackUnauthenticatedUrl = applicationConfig.betaFeedbackUnauthenticatedUrl,
  showFeedbackLinkInBetaBanner = true)
}

@serviceInfo = {
  @uiLayouts.serviceInfo(
  betaBanner = betaBanner,
  includeGridWrapper = false,
  serviceInfoContent = None,
  includeHMRCBranding = false)
}

@getHelpForm = {
  @if(supportLinkEnabled) {
    @{uiHelpers.reportAProblemLink(config.ApplicationConfig.reportAProblemPartialUrl, config.ApplicationConfig.reportAProblemNonJSUrl)}
  }
}

@mainContentHeader = {
  @if(contentHeader.isDefined) {
    @uiLayouts.main_content_header(contentHeader = contentHeader.get)
  }
}


@content = {
  @uiLayouts.main_content(
  article = article,
  sidebar = sidebar,
  mainContentHeader = mainContentHeader,
  serviceInfo = serviceInfo,
  getHelpForm = getHelpForm)
}

@hmrcGovUkTemplate(title = Some(s"$title - GOV.UK"), bodyClasses = None)(head = head,
    bodyEnd = bodyEnd,
    insideHeader = insideHeader,
    afterHeader = afterHeader,
    footerTop = footerTop,
    footerLinks = Some(uiLayouts.footer_links()),
    nav = true)(content = content)