@(service: String, isAgent: Boolean, businessDetails: models.ReviewDetails, backLink: Option[String])(implicit request: Request[_], messages: Messages)
@import uk.gov.hmrc.play.views.html._
@import uk.gov.hmrc.play.views.html.helpers._
@import utils._
@import views.html.helpers._

@headingId = @{
    isAgent match {
        case true => "bc.business-registration-agent.header"
        case false => "bc.business-registration.header"
    }
}

@headingText = @{
    isAgent match {
        case true => Messages("business-review.agent.header")
        case false => Messages("business-review.user.header")
    }
}

@headingSecondaryId = @{
    isAgent match {
        case true => "bc.business-registration-agent.text"
        case false => "bc.business-registration.text"
    }
}

@headingSecondaryText = @{
    isAgent match {
        case true => Messages("bc.business-registration.text.agent", service.toUpperCase)
        case false => Messages("bc.business-registration.text.client", service.toUpperCase)
    }
}

@businessDetailsMatchTextQuestion = @{
    businessDetails.directMatch match {
        case true => Messages("business-review.invalid-business.header")
        case false => Messages("business-review.invalid-address.header")
    }
}

@businessDetailsMatchText = @{
    businessDetails.directMatch match {
        case true => Messages("business-review.invalid-business.text")
        case false => Messages("business-review.invalid-address.text")
    }
}

@bcMain(title = headingText, service = service) {

    @pageHeadersAndError(
        backLink,
        headingSecondaryId,
        headingSecondaryText,
        headingId,
        headingText
    )

    <div class="form-group">

        <p id="business-name">@businessDetails.businessName</p>

        <p id="business-address">
            @businessDetails.businessAddress.line_1<br>
            @businessDetails.businessAddress.line_2<br>
            @businessDetails.businessAddress.line_3.map { line_3 => @line_3<br> }
            @businessDetails.businessAddress.line_4.map { line_4 => @line_4<br> }
            @businessDetails.businessAddress.postcode.map { postcode => @postcode<br> }
            @BCUtils.getSelectedCountry(businessDetails.businessAddress.country)
        </p>

        @if(businessDetails.businessAddress.country.toUpperCase == "GB") {
            <details>
                <summary id="wrong-account-title" class="summary">
                    @businessDetailsMatchTextQuestion
                </summary>
                <div class="panel-indent">
                    <p id="wrong-account-text">
                        @businessDetailsMatchText
                    </p>
                    <ul class="list-bullet">
                        <li id="wrong-account-text-item-1">@Html(Messages("business-review.registered-with-companies-house.text"))</li>
                        <li id="wrong-account-text-item-2">@Html(Messages("business-review.sole-trader.text"))</li>
                    </ul>
                </div>
            </details>
        }

    </div>

    <a href="@controllers.routes.ReviewDetailsController.continue(service)" class="button" role="button" id="submit" @if(isAgent){onclick="ga('send', 'event', 'Agent - registration - end', 'button clicked')"}>
        @Messages("business-review.registration-button")
    </a>
}

